<!DOCTYPE html>
<html lang="ca">

<head>
    <meta charset="UTF-8">
    <title>Gestió de Reserves</title>
    <link rel="stylesheet" href="./styles.css">
</head>

<body>
    <header>
        <h1>¡Gestión de reserves por <%= user.name %>!</h1>
        <h2><%- htmlMessage %></h2>
    </header>
    <main>
        <section>
            <h2>Llista de Reserves</h2>
            <ul class="product-list">
                <% data.reserves.forEach(reserva=> { %>
                    <li class="product-item">
                        <strong>Usuari:</strong>
                        <%= reserva.usuari %> <br>
                            <span><strong>Data inici:</strong>
                                <%= reserva.data_inici %>
                            </span><br>
                            <span><strong>Data final:</strong>
                                <%= reserva.data_final %>
                            </span><br>
                            <span><strong>Estat:</strong>
                                <%= reserva.estat %>
                            </span><br>
                            <span><strong>Notificació:</strong>
                                <%= reserva.notificacio %>
                            </span>
                            <a href="/reserves/<%= reserva.id%>"> Detall Reserva</a>
                            <a href="/reserves/put/<%= reserva.id%>"> Modificar Reserva</a>

                    </li>
                    <% }) %>
            </ul>
        </section>
    </main>
</body>

</html>